<!--this is a partial to render a hand-->
<%fc.each do |card|
  cardimg = "deck3/" + card.id.to_s + ".png"
  %>
    <%if card.hold%>
    
      <%= image_tag("deck3/card_hold.png", height: "70", width: "50", alt:"player card hold") %>&nbsp;
    
    <%else%>

        <%= image_tag(cardimg.html_safe, height: "80", width: "50", alt: card.card_description, style: "border: 1px solid blue")  %>&nbsp;

    <%end if%>

<%end%>